{
  "machine": {
    "gpu": 1,
    "cpu": 1000,
    "ram": 1000
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "Entrypoint": ["/bin/bash", "-c"],
        "Command": [
          "export PROMPT=\"${PROMPT:-Default prompt}\" && ollama serve & sleep 5 && ollama run llama2 \"$PROMPT\" > /outputs/response.txt"
        ],
        "EnvironmentVariables": [
          "PROMPT={{ .Prompt }}"
        ],
        "Image": "mavericb/ollama:llama3-8b-lilypad-v20240829062256"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "Outputs": [
        {
          "Name": "outputs",
          "Path": "/outputs"
        }
      ],
      "PublisherSpec": {
        "Type": "ipfs"
      },
      "Resources": {
        "GPU": "1"
      },
      "Timeout": 1800,
      "Verifier": "Noop"
    }
  }
}
